* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav section */

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 139px;
  height: 60px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 150px;
}

/* nav .menu {
  margin-right: 346px;
  display: flex;

  list-style-type: none;
  gap: 32px;
  align-items: center;
} */

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

nav .menu a:hover {
  background-color: rebeccapurple;
}

nav .btn {
  margin-left: 100px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 12.5px 16px;
  background-color: rgb(94, 143, 94);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

nav .btn:hover {
  background-color: rebeccapurple;
  cursor: pointer;
}

/* banner section */

#banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1580px;
  height: 700px;

  display: block;
  text-align: center;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
}

.banner-content {
  width: 1360px;
  height: 295px;
  /* display: block;
  align-items: center; */
}

.banner-content .btn-top {
  margin-top: 154px;
  margin-left: 565px;
  margin-right: 565px;
  width: 229px;
  height: 35px;
  font-size: 16px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  border-radius: 20px;
  color: #308868;
}

.btn-top:hover {
  cursor: pointer;
  background-color: black;
}

.banner-heading h1 {
  height: 168px;
  width: 770px;
  font-size: 70px;
  font-weight: bold;
  line-height: 84px;
  font-weight: 700;
  margin: 16px 295px;
  text-align: center;
}

.line1 {
  color: white;
}

.line2 {
  color: #308868;
}

.heading-para {
  width: 1360px;
  height: 60px;
  color: white;
  text-align: center;
}

.btn-bellow1 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 46px;
  border-radius: 5px;
  background-color: #308868;
  color: white;
}

.btn-bellow1:hover {
  background-color: aqua;
  cursor: pointer;
}
.btn-bellow2 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 46px;
  border-radius: 5px;
  background-color: none;
  color: white;
  background-color: rgb(68, 68, 107);
}

.btn-bellow2:hover {
  background-color: black;
  cursor: pointer;
}

.cards-heading {
  width: 1300px;
  text-align: center;
}

.cards {
  width: 1360px;
  margin: 30px;
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid rgb(153, 61, 61);
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

.card img {
  background-color: rgb(138, 37, 37);
  border-radius: 15px;
}

#brain-section {
  display: flex;
  gap: 30px;
}

.brain-section-img {
  margin-top: 20px;
  margin-right: 20px;
}

.brain-section-para {
  width: 500px;
  margin-top: 70px;
}

.brain-section-para li {
  list-style-type: none;
}
